    @import url("https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700&display=swap");
    @import url("https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700&display=swap");
    @import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
    .flex-center-start {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: start;
    }
    /* Normal desktop :1200px. */
    /* Normal desktop :992px. */
    /* Tablet desktop :768px. */
    /* small mobile :320px. */
    /* Large Mobile :480px. */
    /* 1. Theme default css */
    
    body {
        font-family: "Poppins", sans-serif;
        font-weight: normal;
        font-style: normal;
    }
    
    a,
    .button {
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
    }
    
    a:focus,
    .button:focus,
    button:focus {
        text-decoration: none;
        outline: none;
    }
    
    a:focus {
        text-decoration: none;
    }
    
    a:focus,
    a:hover,
    .portfolio-cat a:hover,
    .footer -menu li a:hover {
        text-decoration: none;
    }
    
    a,
    button {
        color: #fff;
        outline: medium none;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: "Poppins", sans-serif;
        color: #fff;
    }
    
    h1 a,
    h2 a,
    h3 a,
    h4 a,
    h5 a,
    h6 a {
        color: inherit;
    }
    
    ul {
        margin: 0px;
        padding: 0px;
    }
    
    li {
        list-style: none;
    }
    
    p {
        font-size: 16px;
        font-weight: 300;
        line-height: 28px;
        color: #4D4D4D;
        margin-bottom: 13px;
        font-family: "Poppins", sans-serif;
    }
    
    label {
        color: #7e7e7e;
        cursor: pointer;
        font-size: 14px;
        font-weight: 400;
    }
    
    *::-moz-selection {
        background: #444;
        color: #fff;
        text-shadow: none;
    }
    
     ::-moz-selection {
        background: #444;
        color: #fff;
        text-shadow: none;
    }
    
     ::selection {
        background: #444;
        color: #fff;
        text-shadow: none;
    }
    
    *::-webkit-input-placeholder {
        color: #cccccc;
        font-size: 14px;
        opacity: 1;
    }
    
    *:-ms-input-placeholder {
        color: #cccccc;
        font-size: 14px;
        opacity: 1;
    }
    
    *::-ms-input-placeholder {
        color: #cccccc;
        font-size: 14px;
        opacity: 1;
    }
    
    *::placeholder {
        color: #cccccc;
        font-size: 14px;
        opacity: 1;
    }
    
    h3 {
        font-size: 24px;
    }
    
    .overlay {
        position: relative;
        z-index: 0;
    }
    
    .overlay::before {
        position: absolute;
        content: "";
        background-color: #001D38;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: .7;
    }
    
    .overlay2 {
        position: relative;
        z-index: 0;
    }
    
    .overlay2::before {
        position: absolute;
        content: "";
        background-color: #001D38;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: 0.6;
    }
    
    .overlay_03 {
        position: relative;
        z-index: 0;
    }
    
    .overlay_03::before {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: #001D38;
        opacity: .6;
        content: '';
        z-index: -1;
    }
    
    .bradcam_overlay::before {
        position: absolute;
        content: "";
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#5db2ff+0,7db9e8+100&1+24,0+96 */
        background: -moz-linear-gradient(left, #5db2ff 0%, #65b4f9 24%, rgba(124, 185, 233, 0) 96%, rgba(125, 185, 232, 0) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #5db2ff 0%, #65b4f9 24%, rgba(124, 185, 233, 0) 96%, rgba(125, 185, 232, 0) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #5db2ff 0%, #65b4f9 24%, rgba(124, 185, 233, 0) 96%, rgba(125, 185, 232, 0) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#5db2ff', endColorstr='#007db9e8', GradientType=1);
        /* IE6-9 */
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: 1;
    }
    
    .section-padding {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    
    .boxed-btn.large-width {
        width: 220px;
    }
    
    .boxed-btn3 {
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#FF3414+0,fd8e5e+100 */
        background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
        ;
        color: #fff;
        display: inline-block;
        padding: 18px 42px;
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        font-weight: 500;
        border: 0;
        border: 1px solid transparent;
        text-align: center;
        color: #fff !important;
        text-transform: capitalize;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        cursor: pointer;
        border-radius: 10px;
    }
    /* about Us css */
    
    .aboutus-section {
        padding: 60px 0;
    }
    
    .aboutus-title {
        font-size: 30px;
        letter-spacing: 0;
        line-height: 32px;
        margin: 0 0 39px;
        padding: 0 0 11px;
        position: relative;
        text-transform: uppercase;
        color: #000;
    }
    
    .aboutus-title::after {
        background: #DAA520 none repeat scroll 0 0;
        bottom: 0;
        content: "";
        height: 2px;
        left: 0;
        position: absolute;
        width: 70px;
    }
    
    .aboutus-text {
        color: #606060;
        font-size: 16px;
        line-height: 22px;
        margin: 0 0 35px;
    }
    
    a:hover,
    a:active {
        color: #DAA520;
        text-decoration: none;
        outline: 0;
    }
    
    .feature .feature-box .iconset {
        background: #fff none repeat scroll 0 0;
        float: left;
        position: relative;
        width: 18%;
    }
    
    .feature .feature-box .feature-content h4 {
        color: #0f0f0f;
        font-size: 18px;
        letter-spacing: 0;
        line-height: 22px;
        margin: 0 0 5px;
    }
    
    .feature .feature-box .feature-content {
        float: left;
        padding-left: 28px;
        width: 78%;
    }
    
    .feature .feature-box .feature-content h4 {
        color: #0f0f0f;
        font-size: 18px;
        letter-spacing: 0;
        line-height: 22px;
        margin: 0 0 5px;
    }
    
    .feature .feature-box .feature-content p {
        color: #606060;
        font-size: 13px;
        line-height: 22px;
    }
    
    .boxed-btn3:hover {
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#FF3414+0,fd8e5e+100 */
        color: #fff !important;
        border: 1px solid #A57C00;
        background: transparent;
    }
    
    .boxed-btn3:focus {
        outline: none;
    }
    
    .boxed-btn3.large-width {
        width: 220px;
    }
    
    .boxed-btn3-white {
        color: #fff;
        display: inline-block;
        padding: 13px 27px;
        font-family: "Poppins", sans-serif;
        font-size: 14px;
        font-weight: 400;
        border: 0;
        border: 1px solid #fff;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        text-align: center;
        color: #fff !important;
        text-transform: capitalize;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        cursor: pointer;
        letter-spacing: 2px;
    }
    
    .consultation {
        color: #fff !important;
    }
    
    #contact-section {
        background-color: #001540 !important;
    }
    
    .pageButton {
        background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    }
    
    .site-footer {
        background-color: #000 !important;
    }
    
    boxed-btn3-white i {
        margin-right: 2px;
    }
    
    boxed-btn3-white:focus {
        outline: none;
    }
    
    boxed-btn3-white.large-width {
        width: 220px;
    }
    
    .boxed-btn3-line:focus {
        outline: none;
    }
    
    .boxed-btn3-line.large-width {
        width: 220px;
    }
    
    .boxed-btn2 {
        background: transparent;
        color: #fff;
        display: inline-block;
        padding: 18px 24px;
        font-family: "Poppins", sans-serif;
        font-size: 14px;
        font-weight: 400;
        border: 0;
        border: 1px solid #fff;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
    
    .boxed-btn2:hover {
        background: #fff;
        color: #131313 !important;
    }
    
    .boxed-btn2:focus {
        outline: none;
    }
    
    .line-button {
        color: #919191;
        font-size: 16px;
        font-weight: 400;
        display: inline-block;
        position: relative;
        padding-right: 5px;
        padding-bottom: 2px;
    }
    
    .line-button::before {
        position: absolute;
        content: "";
        background: #919191;
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
    }
    
    .slider_bg_1 {
        background-image: url(../img/globeBackground.png);
    }
    
    .slider_bg_2 {
        background-image: url(../img/banner/banner_2.png);
    }
    
    .slider_area {
        position: relative;
        z-index: 0;
    }
    
    .slider_area::before {
        background: #001D38;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        content: '';
        opacity: .5;
    }
    
    .slider_area .single_slider {
        height: 700px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    
    .slider_area .single_slider.single_slider2 {
        height: 450px;
    }
    
    @media (max-width: 767px) {
        .slider_area .single_slider.single_slider2 {
            height: auto;
        }
    }
    
    .slider_area .single_slider.single_slider2 .property_wrap {
        position: relative;
        top: 166px;
    }
    
    @media (max-width: 767px) {
        .slider_area .single_slider.single_slider2 .property_wrap {
            top: 0;
        }
    }
    
    .slider_area .single_slider.single_slider2 .property_wrap .slider_text h3 {
        font-size: 60px;
        line-height: 80px;
        margin-bottom: 51px;
    }
    
    .slider_area .single_slider.single_slider2 .property_wrap .property_form {
        background: #001D38;
    }
    
    @media (max-width: 767px) {
        .slider_area .single_slider {
            height: auto;
        }
    }
    
    @media (min-width: 768px) and (max-width: 991px) {
        .slider_area .single_slider {
            height: 600px;
        }
    }
    
    @media (max-width: 767px) {
        .slider_area .single_slider .slider_text {
            margin: 90px 0;
        }
    }
    
    .slider_area .single_slider .slider_text h3 {
        font-family: "Poppins", sans-serif;
        font-size: 60px;
        text-transform: capitalize;
        letter-spacing: 0;
        font-weight: 600;
        line-height: 70px;
        margin-bottom: 30px;
        color: #fff;
        margin-top: 31px;
    }
    
    .slider_area .single_slider .slider_text h3 span {
        font-weight: 700;
    }
    
    @media (max-width: 767px) {
        .slider_area .single_slider .slider_text h3 {
            font-size: 30px;
            line-height: 45px;
        }
    }
    
    @media (min-width: 768px) and (max-width: 991px) {
        .slider_area .single_slider .slider_text h3 {
            font-size: 54px;
        }
    }
    
    @media (min-width: 992px) and (max-width: 1200px) {
        .slider_area .single_slider .slider_text h3 {
            font-size: 35px;
        }
    }
    
    .slider_area .single_slider .slider_text p {
        font-size: 20px;
        font-weight: 400;
        color: #FFF;
    }
    
    @media (min-width: 992px) and (max-width: 1200px) {
        .slider_area .single_slider .slider_text p {
            font-size: 16px;
        }
    }
    
    @media (max-width: 767px) {
        .slider_area .single_slider .slider_text p {
            font-size: 16px;
        }
    }
    
    .slider_area .single_slider .slider_text .video_service_btn>a {
        margin-right: 15px;
    }
    
    @media (max-width: 767px) {
        .slider_area .single_slider .slider_text .video_service_btn>a {
            margin-bottom: 20px;
        }
    }
    
    .slider_area .single_slider .property_form {
        padding: 30px;
        background: rgba(0, 28, 56, 0.6);
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
    }
    
    .slider_area .single-field.min_width {
        margin-right: 24px;
    }
    
    @media (max-width: 767px) {
        .slider_area .single-field.min_width {
            margin-right: 0;
            margin-bottom: 20px;
        }
    }
    
    .slider_area .single-field.min_width label {
        display: block;
        font-size: 15px;
        color: #FDAE5C;
    }
    
    .contact_action_area {
        background-image: url(../img/contact_bg.jpg);
        position: relative;
        z-index: 0;
        padding: 50px 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    
    @media (max-width: 767px) {
        .contact_action_area {
            padding: 50px 0;
        }
    }
    
    .contact_action_area::before {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #001D38;
        opacity: .7;
        z-index: -1;
        content: '';
    }
    
    @media (max-width: 767px) {
        .contact_action_area .action_heading {
            text-align: center;
        }
    }
    
    .contact_action_area .action_heading h3 {
        font-size: 20px;
        color: #fff;
        font-weight: 400;
        margin-bottom: 13px;
    }
    
    @media (max-width: 767px) {
        .contact_action_area .action_heading h3 {
            font-size: 20px;
        }
    }
    
    @media (min-width: 768px) and (max-width: 991px) {
        .contact_action_area .action_heading h3 {
            font-size: 20px;
        }
    }
    
    @media (min-width: 992px) and (max-width: 1200px) {
        .contact_action_area .action_heading h3 {
            font-size: 30px;
        }
    }
    
    .contact_action_area .action_heading p {
        color: #EAEAEA;
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
    
    @media (min-width: 768px) and (max-width: 991px) {
        .contact_action_area .action_heading {
            text-align: center;
        }
    }
    
    .contact_action_area .call_add_action {
        text-align: right;
    }
    
    @media (max-width: 767px) {
        .contact_action_area .call_add_action {
            text-align: center;
        }
    }
    
    @media (min-width: 768px) and (max-width: 991px) {
        .contact_action_area .call_add_action {
            text-align: right;
            margin-top: 0px;
        }
    }
    
    .contact_action_area .call_add_action span {
        color: #fff;
        font-weight: 500;
        font-size: 18px;
        margin-right: 25px;
    }
    
    @media (max-width: 767px) {
        .contact_action_area .call_add_action span {
            margin: 20px 0;
            display: block;
        }
    }
    
    .contact_action_area .call_add_action .boxed-btn3 {
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;
        font-size: 26px;
        padding: 14px 42px;
        font-weight: 400;
    }
    
    @media (max-width: 767px) {
        .contact_action_area .call_add_action .boxed-btn3 {
            font-size: 14px;
            padding: 14px 30px;
            font-weight: 400;
            margin-top: 20px;
        }
    }
    
    @media (min-width: 768px) and (max-width: 991px) {
        .contact_action_area .call_add_action .boxed-btn3 {
            font-size: 14px;
            padding: 14px 30px;
            font-weight: 400;
            margin-top: 20px;
        }
    }
    
    .contact_action_area .call_add_action .boxed-btn3:hover {
        color: #000 !important;
        background: #fff !important;
        border-color: transparent;
    }
    
    .chose_area {
        padding: 10px 0 20px 0;
    }
    
    @media (max-width: 767px) {
        .chose_area {
            padding: 10px 0 20px 0;
        }
    }
    
    @media (min-width: 768px) and (max-width: 991px) {
        .chose_area {
            padding: 10px 0 20px 0;
        }
    }
    
    .chose_area .about_image {
        position: relative;
        z-index: 0;
    }
    
    .chose_area .about_image:before {
        position: absolute;
        background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
        ;
        right: -10px;
        bottom: -10px;
        content: '';
        z-index: -1;
        top: 10px;
        left: 10px;
    }
    
    @media (max-width: 767px) {
        .chose_area .about_image:before {
            display: none;
        }
    }
    
    @media (max-width: 767px) {
        .chose_area .about_image:before {
            display: none;
        }
    }
    
    .chose_area .about_image img {
        width: 100%;
    }
    
    .chose_area .about_draw img {
        width: 100%;
    }
    
    .chose_area .features_info {
        padding-left: 68px;
    }
    
    @media (max-width: 767px) {
        .chose_area .features_info {
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    
    @media (min-width: 768px) and (max-width: 991px) {
        .chose_area .features_info {
            padding-left: 30px;
            padding-top: 100px;
            padding-bottom: 50px;
        }
    }
    
    @media (min-width: 992px) and (max-width: 1200px) {
        .chose_area .features_info {
            padding-left: 30px;
            padding-top: 0;
            padding-bottom: 40px;
        }
    }
    
    @media (min-width: 1200px) and (max-width: 1500px) {
        .chose_area .features_info {
            padding-left: 30px;
            padding-top: 0;
        }
    }
    
    .chose_area .features_info h4 {
        font-size: 20px;
        line-height: 20px;
        font-weight: 300;
        color: #2C2C2C;
    }
    
    @media (max-width: 767px) {
        .chose_area .features_info h4 {
            font-size: 15px;
            line-height: 40px;
        }
    }
    
    @media (min-width: 768px) and (max-width: 991px) {
        .chose_area .features_info h4 {
            font-size: 15px;
            line-height: 30px;
        }
    }
    
    @media (min-width: 992px) and (max-width: 1200px) {
        .chose_area .features_info h4 {
            font-size: 15px;
            line-height: 20px;
        }
    }
    
    @media (max-width: 767px) {
        .chose_area .features_info h3 br {
            display: none;
        }
    }
    
    @media (min-width: 768px) and (max-width: 991px) {
        .chose_area .features_info h3 br {
            display: none;
        }
    }
    
    @media (min-width: 992px) and (max-width: 1200px) {
        .chose_area .features_info h3 br {
            display: none;
        }
    }
    
    .chose_area .features_info p {
        font-size: 16px;
        line-height: 28px;
        color: #727272;
        margin-bottom: 22px;
        margin-top: 28px;
    }
    
    @media (min-width: 992px) and (max-width: 1200px) {
        .chose_area .features_info p br {
            display: none;
        }
    }
    
    .chose_area .features_info ul {
        margin-bottom: 56px;
    }
    
    @media (max-width: 767px) {
        .chose_area .features_info ul {
            margin-bottom: 30px;
        }
    }
    
    .chose_area .features_info ul li {
        font-size: 16px;
        line-height: 28px;
        color: #727272;
        position: relative;
        padding-left: 28px;
        margin-bottom: 5px;
        font-weight: 400;
        z-index: 1;
    }
    
    .chose_area .features_info ul li::before {
        position: absolute;
        left: 0;
        background-image: url(../img/svg_icon/check.svg);
        width: 16px;
        height: 16px;
        content: '';
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    
    .chose_area .features_info .boxed-btn3-line {
        padding: 14px 53px;
        font-size: 14px;
        font-weight: 500;
    }
    
    .service_area {
        background: #C4EBF1;
        padding: 120px 0 90px 0;
    }
    
    @media (max-width: 767px) {
        .service_area {
            padding: 50px 0 20px 0;
        }
    }
    
    .service_area .single_service {
        margin-bottom: 30px;
    }
    
    .service_area .single_service .thumb {
        overflow: hidden;
        position: relative;
    }
    
    .service_area .single_service .thumb::before {
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: #FF3414;
        opacity: 0;
        position: absolute;
        z-index: 2;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        content: '';
    }
    
    .service_area .single_service .thumb img {
        width: 100%;
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
    }
    
    .service_area .single_service .service_info {
        margin-top: 20px;
    }
    
    .service_area .single_service .service_info h3 {
        margin-bottom: 7px;
    }
    
    .service_area .single_service .service_info h3 a {
        color: #001D38;
        font-size: 22px;
        font-weight: 500;
    }
    
    .service_area .single_service .service_info p {
        font-size: 16px;
        font-weight: 400;
        color: #919191;
        margin-bottom: 0;
    }
    
    .service_area .single_service:hover .service_info h3 a {
        color: #FF3414;
        text-decoration: underline;
    }
    
    .service_area .single_service:hover .thumb img {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
    
    .service_area .single_service:hover .thumb::before {
        opacity: .2;
    }